__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/

.env
.env.local
*.local

db.sqlite3
*.sqlite3

staticfiles/
media/
ztp_files/
config_repo/

.idea/
.vscode/
*.swp
.DS_Store

celerybeat-schedule
celerybeat.pid
